<template>
    <header><h1>Welcome to the Questions</h1></header>
    <div v-if="questions.length > 0">
        <Question
            :question="currentQuestion.value"
            @answered="handleAnswerReceived"
        />
    </div>

    <footer>Score: {{ score }}</footer>
</template>

<script setup>
import Question from '../Question/Question.vue'
import { onMounted, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { computed } from 'vue'

const store = useStore()
const router = useRouter()

const questions = reactive([])
const currentQuestion = reactive({ value: null })
const numberOfQuestions = ref(0)
const score = computed(() => store.state.score)

let currentQuestionCounter = 0

// what is the best way to order a scenario like this? Conditional rendering

onMounted(async () => {
    const response = await fetch(localStorage.getItem('quizApiURL'))
    const result = await response.json()
    questions.push(...result.results)
    if (questions.length != 0) {
        currentQuestion.value = questions[0]
    }
    numberOfQuestions.value = questions.length
})

const handleAnswerReceived = (answer) => {
    currentQuestionCounter++
    if (currentQuestionCounter === questions.length) {
        router.push('/results')
    } else {
        if (answer == currentQuestion.value.correct_answer) {
            store.commit('incrementScore', 10)
        }
        currentQuestion.value = questions[currentQuestionCounter]
    }
}
</script>

<style></style>
