<template>
    <header><h1>Welcome to the Results</h1></header>
    <main>
        <h2>Final Score is: {{ score }}</h2>
        <ul>
            <li v-for="(reportItem, index) in filteredReport" :key="index">
                Answered: {{ reportItem.answer }}. Correct answer is:
                {{ reportItem.correct_answer }}
            </li>
        </ul>
    </main>
</template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const score = computed(() => store.state.score)
const report = computed(() => store.state.report)
const filteredReport = report.value.filter(
    (report) => report.answer != report.correct_answer
)
</script>

<style></style>
