<template>
    <h1 v-if="categories.length > 0">Settings</h1>
    <div>
        <select v-on:change="updateCatSelection" class="form-control">
            <option value="" selected disabled>Choose a category</option>
            <option v-for="category in categories" :key="category.id">
                {{ category.name }}
            </option>
        </select>

        <br />

        <select v-on:change="updateDifficultySelection" class="form-control">
            <option value="" selected disabled>Choose a difficulty</option>
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
        </select>

        <br />

        <select v-on:change="updateAmountSelection" class="form-control">
            <option value="" selected disabled>Choose an amount</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
        </select>
        <button id="btnStart" v-on:click="start">Let's Begin</button>
    </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useRouter } from 'vue-router'

const categories = reactive([])
const categorySelected = ref(0)
let difficulty = 'Medium'
let amount = 10
const router = useRouter()

fetch('https://opentdb.com/api_category.php')
    .then((response) => response.json())
    .then((result) => {
        result.trivia_categories.forEach((category) => {
            categories.push(category)
        })
    })

const updateCatSelection = (e) => {
    categorySelected.value = e.target.selectedIndex - 1
}

const updateDifficultySelection = (e) => {
    difficulty = e.target.value
}

const updateAmountSelection = (e) => {
    amount = e.target.value
}

const start = () => {
    let quizAPIUrl = `https://opentdb.com/api.php?amount=${amount}&category=${
        categorySelected.value + 9
    }&difficulty=${difficulty.toLowerCase()}`
    localStorage.setItem('quizApiURL', quizAPIUrl)
    router.push('/questions')
}
</script>

<style></style>
