<template>
    <h1>question</h1>
    <h2>{{ question.question }}</h2>
    <!-- This approach does not remove previous questions if the question is true or false flag as issue in repo-->
    <!-- <QuestionAnswer  v-for="(possibleAnswer,index) in possibleAnswers" :answer="possibleAnswer" :key="index" @answerSelected="handleAnswerSelected"/> -->
    <div>
        <QuestionAnswer
            :answer="possibleAnswers[0]"
            @answerSelected="handleAnswerSelected"
        />
        <QuestionAnswer
            :answer="possibleAnswers[1]"
            @answerSelected="handleAnswerSelected"
        />
        <QuestionAnswer
            :answer="possibleAnswers[2]"
            v-if="question.type == 'multiple'"
            @answerSelected="handleAnswerSelected"
        />
        <QuestionAnswer
            :answer="possibleAnswers[3]"
            v-if="question.type == 'multiple'"
            @answerSelected="handleAnswerSelected"
        />
    </div>
    <button id="btnSubmit" v-on:click="submit">Submit Answer</button>
</template>

<script setup>
import { ref, reactive, onUpdated, onBeforeUpdate } from 'vue'
import QuestionAnswer from './QuestionAnswer.vue'
import { useStore } from 'vuex'

const props = defineProps({
    question: { type: Object, required: false },
})

const store = useStore()
const answer = ref('')
const possibleAnswers = reactive([])
const emit = defineEmits(['answered'])

// Loads Answers for the first time
const loadAnswers = () => {
    console.log('LoadAnswers!!')
    possibleAnswers.length = 0
    possibleAnswers.push(...props.question.incorrect_answers)
    possibleAnswers.push(props.question.correct_answer)
    shuffleArray(possibleAnswers)
}

loadAnswers()

const submit = () => {
    emit('answered', answer.value)
    let report = {
        answer: answer.value,
        correct_answer: props.question.correct_answer,
    }
    store.commit('addAnswerToReport', report)
}

const handleAnswerSelected = (selectedAnswer) => {
    answer.value = selectedAnswer
}

// Updates answers when next question is received
onBeforeUpdate((e) => {
    if (!possibleAnswers.includes(props.question.correct_answer)) {
        possibleAnswers.length = 0
        possibleAnswers.push(...props.question.incorrect_answers)
        possibleAnswers.push(props.question.correct_answer)
        shuffleArray(possibleAnswers)
    }
    console.log('onBeforeUpdate!!')
})

function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        // Generate random number
        var j = Math.floor(Math.random() * (i + 1))

        var temp = array[i]
        array[i] = array[j]
        array[j] = temp
    }

    return array
}
</script>

<style scoped></style>
