<template>
    <div id="answer" @click="selectAnswer">
        <h4
            @mouseover="isHovering = true"
            @mouseout="isHovering = false"
            :class="{ hovering: isHovering }"
        >
            {{ answer }}
        </h4>
    </div>
</template>

<script setup>
import { ref } from 'vue'
const emit = defineEmits(['answerSelected'])

const props = defineProps({
    answer: { type: String, required: false },
})

const isHovering = ref(false)

const selectAnswer = () => {
    emit('answerSelected', props.answer)
}
</script>

<style scoped>
.hovering {
    color: red;
    cursor: pointer;
}
</style>
